@model GemeloVirtual.Web.Data.Entities.Antecedentes_No_Patologicos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Antecedentes_No_Patologicos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Higiene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Higiene)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alimentacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alimentacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mascotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mascotas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
